.mainContainer {
    display: block;
    /* position: absolute; */
    width: 1024px;
    height: 492px;
    text-align: center;
    background: #8fa8c1;
    align-items: center;
}

p {
    text-align: center;
    justify-content: center;
}

